var formatNumber = function (n) {
  n = n.toString()
  return n[1] ? n : '0' + n
};

function serveTime(startTime) {
  console.log(startTime);
  if (!startTime) return "服务未开始";
  var start = getDate(startTime.toString().replace(getRegExp("-", "g"), "/")).getTime();
  var end, hour = 1000 * 60 * 60, minute = 1000 * 60, second = 1000, h, m, s;
  setTimeout(function() {
    end = getDate().getTime();

    h = parseInt((end - start) / (hour));
    m = parseInt((end - start - h * hour) / minute);
    s = parseInt((end - start - h * hour - m * second) / second);
    return formatNumber(h) + ":" + formatNumber(m) + ":" + formatNumber(s);
  }, 1000);




}
module.exports = {
  serveTime: serveTime
}